
  @import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');



body{
  font-family: 'Overpass', sans-serif;
}

.empName{
  font-weight: bold;
}
.aboutUsPg{
  font-family: "Overpass";
  width: 55%;
  margin-top: 10px;
  
}
